node_modules
npm-debug.log
package-lock.json
/terraform/**/.terraform
/terraform/**/.terraform.lock.hcl
/terraform/**/.terraform.tfstate.lock.info
/terraform/**/terraform.tfvars
/terraform/**/terraform.tfstate.backup