node_modules
npm-debug.log
package-lock.json
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
/env/.terraform
/.terraform
/terraform/.terraform
/terraform/terraform.tfvars
/terraform/application/.terraform
/terraform/application/terraform.tfvars