node_modules
npm-debug.log
package-lock.json
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate.backup
/env/.terraform
/.terraform
/terraform/.terraform
/terraform/terraform.tfvars
/terraform/create-aws-infra/.terraform
/terraform/create-aws-infra/terraform.tfvars